<!DOCTYPE html>
<html>
<head>
    <title>商品管理</title>
    <script src='http://www.ichartjs.com/ichart.latest.min.js'></script>
    #parse("include/header.html")
</head>
<body>
<div class="row">
    <div class="col-md-6">
        <div id="pieChart">
            <!-- style="height: 400px; width: 500px; float: left; border: 1px solid #ccc;
            padding: 10px;" -->
        </div>
    </div>
   <!-- <div class="col-md-6">
        <div id="barChartAge" style="height: 400px; width: 500px; float: left;">
            &lt;!&ndash; style="height: 400px; width: 500px; float: left; border: 1px solid #ccc;
            padding: 10px;" &ndash;&gt;
        </div>
    </div>-->
</div>
<!--<div class="row">
    <div class="col-md-6">
        <div id="map" style="height: 400px; width: 500px; float: left;">
        </div>
    </div>
    <div class="col-md-6">
        <div id="barChartIncome" style="height: 400px; width: 500px; float: left;">
        </div>
    </div>
</div>-->

#parse("include/footer.html")
<script src="${rc.contextPath}/statics/js/statistics/list.js?_${date.systemTime}"></script>
</body>
</html>
